<div class="hypothesis card">
    <div *ngIf="hypothesis" class="hypothesis-text">
        {{hypothesis.fulltext}}
    </div>
    <div class="">
        <button type="button" class="btn criterium"
            *ngFor="let criterium of criteria" 
            [ngClass]="{ 'btn-danger': !criterium.success, 'btn-success': criterium.success }"
            (click)="criterium.toggle()"><span *ngIf="criterium.key">{{criterium.key}}: </span>{{criterium.label}}</button>
        <button type="button" class="btn btn-primary next" 
                (click)="saveAndContinue()"
                [disabled]="savePending">
                    <i *ngIf="savePending" class="fa fa-spinner fa-pulse fa-fw"></i>
                    Save
                </button>
    </div>
</div>