<div class="hypothesis card">
    <div id="help" class="alert alert-success alert-dismissible show" role="alert">
        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">
            Welcome, {{status.coder}}!
        </h4>
        <p>Thanks for helping me out. This page will allow you to help me in coding the hypotheses I've gathered in my experiments.</p>
        <p>In the blue box below, you'll see a description of the criteria used. Each criteria is dichotomous, so can either be true (green) or false (red). You can close this message, as well as the criteria descriptions, by clicking on the 'x' in the top right of the boxes. You can bring the criteria descriptions back by clicking the '?' next to the 'Save' button, below. Hovering over the button for a criteria will also show the criteria description in a tooltip.</p>
        <p>You'll be presented with one hypothesis at a time. You can't go back or forward, so please make sure to code the hypotheses correctly on the first attempt. You can either click the criteria to toggle them, or use the hotkeys. Each criterium has a hotkey assigned (the key will be listed on the button).</p>
        <p><strong>Note:</strong> <i>most criteria have 'dependencies', the app will automatically mark them as 'false' if any dependency is marked valse. For example, if a hypotheses does not contain variables, it likely cannot have a correct syntax. Similarly, if there are no modifiers, there likely is no manipulation. These are just defaults to assist in coding quickly, feel free to change them if you feel this is right.</i>
        <p>When you're done, click 'Save' or press <kbd>Enter</kbd> or <kbd>Return</kbd>, and you'll immediately be presented with the next hypothesis. The progress bar at the top of the screen gives an overview of how much of the entire dataset is coded - hover over it for more details.</p>
        <p><i>Thank you for your help!</i></p>
    </div>
    <div id="help" class="alert alert-info alert-dismissible show" role="alert" *ngIf="showHelp">
        <button type="button" class="close" aria-label="Close" (click)="toggleHelp()">
            <span aria-hidden="true">&times;</span>
        </button>
        <p *ngFor="let criterium of criteria"><strong>{{criterium.label}}</strong><br/>{{criterium.description}}</p>
    </div>
    <div *ngIf="hypothesis" class="hypothesis-text">
        <div *ngIf="!hypothesis.fulltext" class="alert alert-warning">empty hypothesis</div>
        {{hypothesis.fulltext}}
    </div>
    <div class="criteria-row">
        <ng-container *ngFor="let criterium of criteria">
            <br *ngIf="criterium.newLine" />
            <button type="button" class="btn criterium m-1"
                [ngClass]="{ 'btn-danger': !criterium.success, 'btn-success': criterium.success}"
                (click)="criterium.toggle()"
                [title]="criterium.description"><span *ngIf="criterium.key">{{criterium.key}}: </span>{{criterium.label}}</button>
        </ng-container>
            <div class="btn-group m-1 pull-right">
                <button type="button" class="btn btn-outline-info" (click)="toggleHelp()">?</button>
                <button type="button" class="btn btn-primary" 
                    (click)="saveAndContinue()"
                    [disabled]="savePending">
                    <i *ngIf="savePending" class="fa fa-spinner fa-pulse fa-fw"></i>
                    Save
                </button>
            </div>
    </div>
</div>